In [42]:
import pandas as pd

In [43]:
df = pd.read_csv('laptop_price.csv', encoding='cp1251', sep=',')

In [44]:
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   object
 1   Company           1295 non-null   object
 2   Product           1295 non-null   object
 3   TypeName          1295 non-null   object
 4   Inches            1295 non-null   float64
 5   ScreenResolution  1295 non-null   object
 6   Cpu               1295 non-null   object
 7   Ram               1295 non-null   object
 8   Memory            1295 non-null   object
 9   Gpu               1295 non-null   object
 10  OpSys             1295 non-null   object
 11  Weight            1295 non-null   object
 12  Price_euros       1295 non-null   float64
dtypes: float64(2), object(11)
memory usage: 132.5+ KB

In [46]:
df.describe()

            Inches  Price_euros
count  1295.000000  1295.000000
mean     15.030270  1124.317266
std       1.415632   700.193254
min      10.100000   174.000000
25%      14.000000   599.000000
50%      15.600000   977.000000
75%      15.600000  1489.495000
max      18.400000  6099.000000

In [47]:
df.describe(include=['object'])

,laptop_ID,Company,Product,TypeName,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
count,1303,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295
unique,1303,19,615,6,39,113,9,38,109,9,176
top,1,Dell,XPS 13,Notebook,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg
freq,1,297,30,725,505,190,613,411,281,1070,121

In [48]:
df['Company'].value_counts()

Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         15
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Google         3
Fujitsu        3
LG             3
Huawei         2
Chuwi          1
Name: Company, dtype: int64

In [49]:
df['Price_euros'].min(), df['Price_euros'].max()

(174.0, 6099.0)

In [50]:
df.sort_values('Price_euros', ascending=False).iloc[0]

laptop_ID                                           200
Company                                           Razer
Product                                       Blade Pro
TypeName                                         Gaming
Inches                                             17.3
ScreenResolution    4K Ultra HD / Touchscreen 3840x2160
Cpu                         Intel Core i7 7820HK 2.9GHz
Ram                                                32GB
Memory                                          1TB SSD
Gpu                             Nvidia GeForce GTX 1080
OpSys                                        Windows 10
Weight                                           3.49kg
Price_euros                                      6099.0
Name: 196, dtype: object

In [51]:
df[df['Inches'] == df['Inches'].min()][['Company', 'TypeName', 'Inches', 'Price_euros']]

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

In [52]:
df[df['Company'] == 'HP']['Price_euros'].max()

4389.0

In [53]:
ultra_8 = df[(df['TypeName'] == 'Ultrabook') & (df['Ram'] == '8GB')].shape[0]
ultra_8

134

In [54]:
ultra = df[df['TypeName'] == 'Ultrabook'].shape[0]
ultra

190

In [55]:
ultra_8/ultra*100

70.52631578947368

In [56]:
df[
    (df['OpSys'] == 'Windows 10') &
    (df['Ram'].isin(['8GB', '16GB'])) &
    (df['Price_euros'] < 500)
].shape[0]

13

In [57]:
df_client = df[
    (df['Company'] == 'MSI') & 
    ~(df['Inches'] == 15.6) &
    (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti')
]

In [58]:
df_client['Price_euros'].min(), df_client['Price_euros'].max()

(1199.0, 1599.0)

In [59]:
a = df[df['Cpu'] == 'Intel Core i7 7700HQ 2.8GHz']['Price_euros'].mean()
b = df[df['Cpu'] == 'Intel Core i7 7600U 2.8GHz']['Price_euros'].mean()
a, b

(1760.4084246575342, 1915.710769230769)

In [61]:
df['Weight'] = df['Weight'].str.replace('kg', '').astype('float')
df['Weight']

0       0.69
1       0.69
2       0.69
3       0.69
4       0.69
        ...
1298    0.69
1299    0.69
1300    0.69
1301    0.69
1302    0.69
Name: Weight, Length: 1303, dtype: float64

In [62]:
df['Weight'].min()

0.69